/* Classes for Carousel */
.image__Carousel2{
	height:100% !important;
	width:100% !important;

}
.carusel-item-2 {
	height: 500px;
  }
  
  .sr-only{
	display:none;
  }

  .bgBackColor{
	background-color: rgba(240, 248, 255, 0.425);
	color:black !important;
}

.bold{
	font-weight: bold;
}