/* Classes for Footer */
footer{
	background: rgb(33,37,41) !important;
	color:white;
	padding:50px !important;

}

.mt-4{
	margin-top:0 !important;
}

/* Button back to top */
.back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px;
	font-size: 35px;
	color: white;
	cursor: pointer;
	border-radius: 200px;
	border: 1px solid rgb(153, 153, 153);
	background: rgb(33,37,41);

  }
  
  .back-to-top:hover {
	color: rgb(153, 153, 153);
	border: 1px solid white;
  }
  .margin-top20{
	  margin-top:30px;
	  margin-bottom:10px;
  }

  .noPaddingNoMargin{
	  margin:0;
	  padding:0;
  }

  .firstP__Footer{
    margin-bottom:20px;
    text-align: left;
    font-size: 20px;
    margin-left:10px;
    color: grey;
    text-transform: uppercase;
  }

  .P__Footer{
	text-align: left;
    margin-left:10px;
    margin-bottom:0;
}

.maringTopFooter{
	margin-top:40px;
}

.colorWhite{
	color:white !important;
}

.colorWhite:hover{
	color:grey !important;
}